{$PUBLIC_HOST}, vtranslator-jpe-43892.japaneast.cloudapp.azure.com {
    encode zstd gzip
    header {
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
        -Server
    }
    @gpu_workers path /api/v1/gpu-workers/*
    handle @gpu_workers {
        reverse_proxy gpu-broker:8082
    }
    handle {
        reverse_proxy web:8000
    }
}

www.vidyi.cc {
    redir https://vidyi.cc{uri} permanent
}
